@import url('https://fonts.cdnfonts.com/css/helvetica-neue-lt-std-6');
@import url('https://fonts.cdnfonts.com/css/miracle-2');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  color: rgba(255, 252, 246, 0.12);
  font-family: Miracle;
  font-size: 6.25rem;
  font-weight: 400;
  line-height: 7.5rem;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: flex;
  margin-right: 30px;
}

@media (min-width: 200px) and (max-width: 767px) {
  .parallax .scroller {
    font-size: 2.25rem;
    line-height: normal;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .parallax .scroller {
    font-size: 3.75rem;
    line-height: 5rem;
  }
}

.reveal_cover {
  background-color: #313f38;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  transform-origin: top;
  top: 0;
}

.slide__in {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fcd043;
  width: 100vw;
  height: 100vh;
  transform-origin: bottom;
  z-index: 14;
}

.slide__out {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fcd043;
  width: 100vw;
  height: 100vh;
  transform-origin: top;
  z-index: 14;
}
